/* region Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root
{
    --dp-var-primary: #0061FE;
    --dp-var-primary-soft: #B4D0E6;
    --dp-var-bg: #000000;
    --dp-var-bg-light: white;

}

.d-flex
{
    display: flex;
}



.debug
{
    *
    {
        border: 1px dashed;
    }

    .container-big
    {
        background-color: rgba(0, 0, 255, 0.423);
    }

    .container-small
    {
        background-color: rgba(0, 255, 30, 0.423);
    }

    .jumbotron
    {
        background-color: #0061FE;

        .jumbotron-title
        {
            height: 50px;
            background-color: rgba(223, 50, 223, 0.625);
        }

        .jumbo
        {
            height: 345px;
            background-color: pink;
        }
    }

   
}
/* endregion Common */

/* region Layout */

.container-big
{
    width: 80%;
    margin: 0 auto;
}

.container-small
{
    width: 70%;
    margin: 0 auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"]
{
  padding: 1rem;
}

.col-1
{
  width: calc(100% / 12 * 1);
}

.col-2
{
  width: calc(100% / 12 * 2);
}

.col-3
{
  width: calc(100% / 12 * 3);
}

.col-4
{
  width: calc(100% / 12 * 4);
}

.col-5
{
  width: calc(100% / 12 * 5);
}

.col-6
{
  width: 50%;
}

.col-7
{
  width: calc(100% / 12 * 7);
}

.col-8
{
  width: calc(100% / 12 * 8);
}

.col-9
{
  width: calc(100% / 12 * 9);
}

.col-10
{
  width: calc(100% / 12 * 10);
}

.col-11
{
  width: calc(100% / 12 * 11);
}

.col-12
{
  width: 100%;
}


/* endregion Layout */

/* region Buttons */
.btn
{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--dp-var-primary);
  padding: 0.25rem 0.75rem;
}
/* region Buttons */

/* region Header */
header
{
    padding: 1rem 0.5rem;
    background-color: var(--dp-var-bg-light);

    nav
    {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left, .nav-right
    {
        gap: 1rem;
    }

    ul
    {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    li
    {
        color: var(--dp-var-bg);
    }
    }
}
/* endregion Header */

/* region Main */

/* endregion Main */

/* region Footer */
footer
{
    .container-big
    {
        justify-content: space-between;
    }

    ul
    {
        list-style: none;
    }

    li
    {
        color: white;
    }
}
/* endregion Footer */